*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    color: white;
    font-size: 20px;
    height: 64px;
    border: 0;
    border-radius: 5px;
    padding: 18px 35px;
    background: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}


/* navigation style */
.nav-title{
    font-weight: 800;
    font-size: 55px;
}
.text-primary{
    color:#FD6E0A ;
}
/* Banner styles */
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
    
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
} 
.banner-subtitle{
    font-weight: 600;
    font-size: 45px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
}